<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AppUI.Properties.Settings>
            <setting name="CommunityTitle" serializeAs="String">
                <value>બાપેસર સિપાઈ જમાત - ભાવનગર</value>
            </setting>
          
        </AppUI.Properties.Settings>
    </userSettings>

  <connectionStrings>
    <add name="CommunityEntities" connectionString="metadata=res://*/CommunityModel.csdl|res://*/CommunityModel.ssdl|res://*/CommunityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Altaf\FrozenCode\FrozenCode.Community\AppUI\Data\Community.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ISDEVELOPMENT" value="true"/>
    <add key="IMAGELOCATION" value="D:\Altaf\FrozenCode\FrozenCode.Community\AppUI"/>
  </appSettings>
</configuration>